@import './base.css';
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
}

h1 {
    font-weight: 800;
    font-size: 52px;
}

h2 {
    font-weight: 700;
    font-size: 48px;
}

h3 {
    font-weight: 700;
    font-size: 42px;
}

.text-lg {
    font-size: 22px;
}

.text-align-center {
    text-align: center;
}

.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-column {
    flex-direction: column;
}

.mx-1 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.my-05 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.mt-0 {
    margin-top: 0;
}

.mt-0 {
    margin-top: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.bg-secondary {
    background-color: var(--secondary);
}

.text-primary {
    color: var(--primary)
}

.font-weight-500 {
    font-weight: 500;
}

.flex-grow-1 {
    flex-grow: 1;
}

.justify-self-center {
    justify-self: center;
}

.d-inline {
    display: inline;
}
